In [2]:
import pandas as pd
import tabula
#pip install tabula-py

In [3]:
def convert_pdf_to_csv(filename):
    df = tabula.read_pdf(filename, pages='all')[0]
    tabula.convert_into(filename, "updated_df", output_format="csv", pages='all')
    return df

In [4]:
convert_pdf_to_csv("schedule.pdf")

,Unnamed: 0,Unnamed: 1,Univ of Il Urbana-Ch,mpaign,Unnamed: 2,Unnamed: 3,Unnamed: 4,Neeyati Devanagondi (Neeya)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"niv of Il at Urbana-Champaign\revanagondi, Nee...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Title,Course Details,Credit Hours,CRN,Meeting Times,NaN,NaN,NaN
4,Discrete Structures,CS 173 BL2,3.0,50094,"01/18/2022 - 05/04/2022\rTuesday, Thursday\r12...",NaN,NaN,NaN
5,Discrete Structures,CS 173 BDF,0.0,51089,01/18/2022 - 05/04/2022\rFriday\r02:00 PM - 02...,NaN,NaN,NaN
6,Statistics and Probability I,STAT 400 FL1,4.0,60237,"01/18/2022 - 05/04/2022\rMonday, Wednesday, Fr...",NaN,NaN,NaN
7,Statistics and Probability I,STAT 400 FD2,0.0,60241,01/18/2022 - 05/04/2022\rThursday\r11:00 AM - ...,NaN,NaN,NaN
8,Nature and American Culture,RST 242 ONA,3.0,61458,"01/18/2022 - 03/11/2022\rSantos, Carla\rJeong,...",NaN,NaN,NaN
9,Intro to Computer Science II,CS 128 DBJ,0.0,71604,01/18/2022 - 05/04/2022\rFriday\r10:30 AM - 11...,NaN,NaN,NaN
10,Indian Cinema in Context,CWL 207 A2,3.0,65011,"01/18/2022 - 05/04/2022\rMonday, Wednesday\r02...",NaN,NaN,NaN
11,Intro to Computer Science II,CS 128 AL1,3.0,71594,"01/18/2022 - 05/04/2022\rNowak, Michael",NaN,NaN,NaN
12,Total Hours | Registered: 16 | Billing: 16 | C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN